/*attributes*/
html, body{
	height:100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
background-color: #D3D3D3;
}


/*classes*/

.textShadow{
  color: #D3D3D3;
  text-shadow: 1px 2px;
}
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.noDots{
    list-style-type: none;
}


/* Parallax Images */
.profilePicture{
	background-image: url('../Images/ProfilePicture.jpg');
  min-height:400px;
}
.firstImage{
	background-image: url('https://source.unsplash.com/1600x900/?computer');
  min-height:500px;
}
.secondImage{
	background-image: url('https://source.unsplash.com/1600x900/?business');
	  min-height:500px;
}
.thirdImage{
	background-image: url('../Images/Phi-Phi-Don-View-Point.Hat-Noppharat-Thara-Mu-Ko-Phi-Phi-National-Marine-Park-Krabi.jpg');
	  min-height:400px;
}
  .firstImage, .secondImage, .thirdImage{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

@media(max-width:568px){
  .firstImage, .secondImage, .thirdImage{
    background-attachment:scroll;
  }
}
/* End of parallax images */
/*ID's*/
#showcase{
  background-image:url('../Images/cloud-landscape-mountain-1036371.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0;
  color: white;
}
#showcase h1{
  font-size:50px;
  line-height:1.2;
}

#showcase p{
  font-size:20px;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:#926239;
  border:#926239 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:#926239;
  color:#fff;
}