/*attributes*/
body{
background-color: #666699;
	font-family: arial;
}

/*classes*/
.Wrapper{
background: linear-gradient(to bottom, #666699 10%, #0033cc 70%);
}
.Header{
	color: white;
background-color: #0F57E8;
}
.MainContent{
background-color: #2E38BA;
padding: 30px;
}
.Footer{
	color: white;
background-color: #660066;
}
.William{
	width: 120px;
}
.Intro{
	font-size: 130%;
}
.Follow{
	
}
/*ID's*/